target/

databases/

data/filtered_bus_stops.csv
data/test.csv
data/train.csv
data/train_filter.csv

derby.log
CoffeeDB/

testfolder/
test_col_test

# IntelliJ
*.iml
.idea/

# Eclipse
.project
.settings
.classpath
bin/

# NetBeans
nbproject/private/
nbactions.xml
nb-configuration.xml
