{
    title: '{{title}}',
    {% if titleFont is not null %}
        titlefont: {{titleFont.asJavascript() | raw}},
    {% endif %}

{% if tickMode is not null %}
    tickmode: '{{tickMode}}',
    tickcolor: '{{tickColor}}',
    ticklen: {{tickLength}},
    tickwidth: {{tickWidth}},
    showticklabels: {{showTickLabels}},
{% endif %}

{% if tickFont is not null %}
    tickfont: {{tickFont | raw}},
{% endif %}

    {% if tickText is not null %}
        ticktext: {{tickText | raw}},
    {% endif %}
    {% if tickValues is not null %}
        tickvals: {{tickValues}},
    {% endif %}

    {% if autoRange is not null %}
        autorange: '{{autoRange}}',
    {% endif %}

    {% if showSpikes is not null %}
        showspike: {{showSpikes}},
        spikemode: '{{spikeMode}}',
        spikethickness: {{spikeThickness}},
        spikesnap: '{{spikeSnap}}',
        spikecolor: '{{spikeColor}}',
        spikedash: '{{spikeDash}}',
    {% endif %}

    linecolor: '{{lineColor}}',
    linewidth: {{lineWidth}},
    showline: {{showLine}},

    gridcolor: '{{gridColor}}',
    gridwidth: {{gridWidth}},
    showgrid: {{showGrid}},

    zerolinecolor: '{{zeroLineColor}}',
    zerolinewidth: {{zeroLineWidth}},
    zeroline: {{zeroLine}},

    type: '{{type}}',
    visible: {{visible}}}