.row {
    display: flex;
    flex-direction: row;
}

@media (min-width: 992px) {
    .full, .main, .side {
        float: left;
    }

    div.main {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        width: 66.66666667%;
    }

    div.side {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        width: 33.33333333%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: center;
        font-size: 0.9rem;
        line-height: normal;
        text-align: left;
    }

    div.full {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) { .side { width: 25%;
    margin-right: -35%; }}
@media screen and (max-width: 400px) { .side { display:none; }}

