<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="Photon runtime" sequenceNumber="210">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.5.0.201703192131"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="1.5.0.201703192131"/>
<repository location="http://download.eclipse.org/nattable/releases/1.5.0/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<repository location="http://download.eclipse.org/releases/photon"/>
	<unit id="org.eclipse.acceleo.query.source.feature.group" version="6.0.3.201802240723"/>
	<unit id="org.eclipse.emf.ecore.feature.group" version="2.14.0.v20180529-1144"/>
	<unit id="org.eclipse.platform.feature.group" version="4.8.0.v20180611-0656"/>
	<unit id="org.eclipse.emf.common.feature.group" version="2.14.0.v20180527-1134"/>
</location>
</locations>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.6 -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts -XX:MaxPermSize=256m -Xms40m -Xmx2048m -Xdock:icon=../Resources/Eclipse.icns -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts</vmArgs>
</launcherArgs>
</target>